@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}


@theme {
  --font-family-mono: var(--font-geist-mono), system-ui, sans-serif;
  --font-family-sans: var(--font-geist-sans), system-ui, sans-serif;
  --color-gtc-hue: #047d95;
  --color-gtc-tab: #047d95;
  --color-gtc-bac: oklch(92.9% 0.013 255.508);
  --color-gtc-sec: #FAAB00;
}


@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), system-ui, sans-serif !important;
}

* {
  font-family: var(--font-geist-mono), system-ui, monospace !important;
}
* {
  font-family: var(--font-geist-sans), system-ui, sans-serif !important;
}









