@import "@aws-amplify/ui-react/styles.css";


.amplify-button--primary {
  border-radius: 32px;
  margin-top: 40px;
  text-transform: uppercase;
  font-size: .9rem;
}

.amplify-field-group__control {
  border-radius: 32px;
  font-size: .9rem;
  padding: 12px 16px;
  height: auto;
}

.amplify-button[type="submit"] {
  border-radius: 32px;
  text-transform: uppercase;
  font-size: .9rem;
  width: 200px;
}

/* .amplify-button[type="button"] {
  border-radius: 32px;
  text-transform: uppercase;
  font-size: .9rem;
  width: 138px;
  background-color: #f3f4f6;
  color: #374151;
} */

[data-amplify-authenticator] [data-amplify-router] {
  border-radius: 32px;
  border-width: 0px;
}

.amplify-tabs__item--active {
  border-color: #FAAB00;
  border-radius: 32px;
  /* border-width: 1px; */
  font-size: 14px;
  text-transform: uppercase;
}

.amplify-tabs__item {
  border-radius: 32px;
    text-transform: uppercase;
    font-size: 14px;
    /* border: none; */
}

.amplify-tabs__list--equal {
  border-radius: 32px;
}

.amplify-label {
  font-size: .9rem;
}

#btn-htw {
  font-size: .9rem;
}

select {
  border-radius: 32px;
  /* font-size: .9rem; */
  /* padding: 12px 16px; */
  appearance: none;
}
